PORT=5500
SERVER_URL="http://localhost:5500"
NODE_ENV=development

# MongoDB Connection String
# Example local: mongodb://127.0.0.1:27017/subscription-tracker
# Example Atlas: mongodb+srv://username:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority
DB_URI="mongodb://127.0.0.1:27017/subscription-tracker"

JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="1d"

ARCJET_KEY=""
ARCJET_ENV="development"

QSTASH_URL="http://127.0.0.1:8090"
QSTASH_TOKEN="development"
QSTASH_CURRENT_SIGNING_KEY="development"
QSTASH_NEXT_SIGNING_KEY="development"
QSTASH_CALLBACK_URL="http://localhost:5500/api/v1/workflow/subscription/reminder"

EMAIL_PASSWORD=""
